.logo{
    width: 27%;
    margin-left: 25px;
    align-content: center;
}
.logo-quote{
    font-size: 1.2rem;
}
header{
    padding: 4px;
    box-shadow: 1px 1px 10px 1px rgb(195, 190, 190);
}
.navbar-item{
    margin-left: 1.5em;
    margin-right: 1.5em;
}
.emplogin{
    background-color: gold !important;
}
.emplogin:hover{
    background-color: rgb(23, 23, 83) !important;
    color: white !important;
}

.jobseekerlogin{
    border:1px solid gray !important;
}
.jobseekerlogin:hover{
    background-color: gold !important;
}
.header-media{
    display: none;
}
.header-fullscreen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taglineheader{
    font-size: large;
    background-image: linear-gradient(90deg,
            #5cd3db 0%,
            rgb(26, 3, 109) 10%,
            #5cd3db 20%,
            rgb(26, 3, 109) 40%,
            #5cd3db 67%,
            rgb(26, 3, 109) 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
@media screen and (max-width: 756px) {

    .header-media{
        display: block;
    }
    .header-fullscreen{
        display: none;
    }
}